html {
    --ff-mono: 'IBM Plex Mono', monospace;
    --ff-sans: 'IBM Plex Sans', sans-serif;
    --ff-tabloid: 'Alfa Slab One', sans-serif;
    font-size: 18px;
}

/* layout */

html,
body {
    --block-accent-color: #e02345;
    margin: 0;
}

main {
    width: calc(100% - 1.5em);
    max-width: 840px;
    margin: 1em auto;
    font-family: var(--ff-sans);
}

h1,
h2,
h3 {
    font-family: var(--ff-tabloid);
    font-weight: normal;
    color: var(--block-accent-color);
}

input,
textarea {
    font-family: var(--ff-mono);
}
